body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    background-color: #333;
    text-align: center;
    color: bisque;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #222;
}
section {
    background-color: #222;
    border: #000 inset 0.5em;
    border-radius: 0.4em;
    margin: 2em 4em;
    display: flex;
    flex-direction: column;
    color: rgb(184, 186, 168);
    }
footer{
    position: absolute;
    bottom:0;
    background-color: #222;
    width: 100%;
    text-align: center;
    color: rgb(212, 214, 193);
    font-size: 1em;
    font-style: italic;
}
h1 {
    font-size: 3em;
    text-shadow: 0.1em 0.05em 0.1em black;
    font-weight: 700;
}
h2 {
    align-self: center;
    font-size: 2.5em;
    }
p {
    font-size: 1.5em;
}    
a {
    text-decoration: none;
    color: rgb(184, 186, 168);
    font-size: 1.3em;
}
a:hover {
    color: bisque;
}
a:after {
    color: rgb(129, 130, 125)
}