body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    background-color: black;
    font-size: 14px;
    color: whitesmoke;
    }
 /*Header*/
.h-container {
    display: flex;
    padding: 10px;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
nav {
    text-align: center;
    text-shadow: 4px 5px 5px rgb(0,204, 68);
    font-size: 37px;
    padding: 10px;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    margin-bottom: 20px;
    color: white;
    }
.mpk {
    font-style: italic;
    font-weight: 300;
    font-size: 30px;
    text-shadow: 3px 2px 3px rgb(120,120,120);
}
.ff {
    font-size: 100px;
}
img {
    height: 300px;
    border: 10px groove black;
}
.wave {
    float: left;
    margin: 20px;
    animation: wave  ease-in-out 1s infinite alternate;
    transform-origin: center -36px;
  }
  
  .wave:hover {
    animation-play-state: paused;
    cursor: pointer;
  }
  
  .wave img {
    border: 5px solid #f8f8f8;
    display: block;
    width: 200px;
    height: 250px;
  }
  
  .wave figcaption {
    text-align: center;
  }
  
  .wave:after{
    content: '';
    position: absolute;
    width: 20px; 
    height: 20px;
    border: 1.5px solid #ffffff;
    top: -10px; 
    left: 50%;
    border-bottom: none;
    border-right: none;
    transform: rotate(35deg);
  }
  .wave:before{
    content: '';
    position: absolute;
    top: -23px;
    left: 50%;
    display: block;
    height: 44px;
    width: 47px;
    background-image: url(https://cdn.hashnode.com/res/hashnode/image/upload/v1602040503586/FW6g79WBY.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    z-index: 16;
  }
/* Sections */
section {
    margin: 20px;
    border: solid rgb(60,60,60) 5px;
    border-radius: 10px;
    color: #222;
    box-shadow: 3px 5px 10px rgb(120,120,120);
    }
#informacje {
    background-color: rgb(180,180,180);
    width: 1200px;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px;
    transition: 700ms linear;
}
.scale:hover {
    transform: scale(1.05);
    margin: 20px auto;
}
#skills {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items:first baseline;
    justify-content: space-evenly;
    width: 1500px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    
}
/* Footer */
footer {
    background-color: rgb(180,180,180);
    padding: 10px;
    margin: 0;
    color: #333;
    width: 100%;
}
li {
    font-size: 18px;
    display: inline;
    margin-right: 15px;
    font-weight: 700;
    }
/* Text */
h1 {
    text-align: center;
    font-size: 50px;
    margin: auto;
    text-shadow: 3px 3px 5px rgb(0,204, 68);
}
.typewriter h1 {
    overflow: hidden; 
  border-right: .08em solid rgb(0,204, 68); 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: 0.02em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
h2 {
    font-size: 40px;
    text-shadow: 3px 2px 3px rgb(0,204, 68);
    }
h3 {
    font-size: 25px;
    }
p {
    font-size: 20px;
    text-align: justify;
}
.center {
    text-align: center;
}
/* Anchor */
a {
    text-decoration: none;
    font-weight: 200;
    color: #222;
}
a:hover {
    color: rgb(0,204, 68);
}
a:active {
    color: rgb(120,120,120)
}
.na {
    color:white;
}



